<h1>Tests</h1>
<p>So this is a test version of...the test!</p>

<li><%= link_to "First question", q1_path%></li>
<li><%= link_to "Second question", q2_path%></li>
<li><%= link_to "Third question", q3_path%></li>